@use 'variaveis';

.hero {
    min-height: 80vh;
    background-image: url(../imagens/forest_hero.png);
    background-position: right top; 
    background-size: cover;
    display: flex;
    align-items: center;

    .container{
        margin: 0 auto;
        width: 1024px;
    }

    button{
        border-radius: 4px;
        margin-top: 32px;
        width: 360px;
        height: 54px;
        background-color: variaveis.$corPrimaria;
        border: none;
        color: variaveis.$corBranco;
        transition: ease-in 200ms;
        &:hover{
            cursor: pointer;
            background-color: variaveis.$corSecundaria;
            color: variaveis.$corBranco;
        }
    }

    p{
        padding-top: 16px;
        width: 360px;
        text-align: center;
    }
}
