@fontPrincipal: Roboto, sans-serif;
@fontTitle: Lobster, cursive;
@corPrincipal: black;
@corDeFundo: white;

body{
    background-color: @corDeFundo;
    font-family: @fontPrincipal;
}


button{
    font-family: @fontPrincipal;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: @corPrincipal;
    border-color: transparent;
}


.resultado{
    padding-top: 32px;
    color: rgb(80, 80, 80);
    font-size: 1.4em;
    display: none;

    #resultadoSorteio{
        margin: 0px;
        font-size: 4em;
        color:@corPrincipal ;
    }
}
h1{
    text-align: center;
}
main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
