@fontPrincipal: Roboto, sans-serif;
@fontTitle: Lobster, cursive;
@corPrincipal: #eb3b5a;
@corDeFundo: antiquewhite;

body{
    background-color: @corDeFundo;
    font-family: @fontPrincipal;
}

h1{
    text-align: center;
    font-family: @fontTitle;
    color: @corPrincipal;
    font-size: 3em;
}

main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

button{
    font-family: @fontPrincipal;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: @corPrincipal;
    border-color: transparent;
}

input{
    margin: 16px auto 0;
    font-size: 2em;
    max-width: 120px;
    border: none;
    background-color: transparent;
    display: block;
    color: @corPrincipal;
    border-bottom: 4px solid @corPrincipal;
    text-align: center;

    &:focus{
        outline: none;
        caret-color: @corPrincipal;
    }
}

.resultado{
    padding-top: 32px;
    color: rgb(80, 80, 80);
    font-size: 1.4em;
    display: none;

    #resultadoSorteio{
        margin: 0px;
        font-size: 4em;
        color:@corPrincipal ;
    }
}